.App {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
body, .leaflet-container {
  background: #262626;
}
.leaflet-top, .leaflet-left{
  display: none;
}
.container{
  display: grid;
  grid-template-columns: 5fr 1fr;
  grid-gap: 0.7rem;
}
.map{
  height: 93vh;
}
.true{
  display: block;
}
.false{
  display: none;
}
.hide-component{
  display: none;
}
.hide{
  opacity: 0;
}
.show{
  opacity: 1 !important;
}
.show-component{
  display: block !important ;
}
/* Header */
#container-header{
  display: grid;
  grid-template-columns: 4fr 1fr;
  height: 6vh;
  color: #717171;
  font-size: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
}
#header {
  align-items: center;
}
#container-header .title{
  text-align: end;
  align-self: center;
  margin-right: 6px;
}
a {
  text-decoration: none;
  color: #fff;
}
.page-btns {
  text-align: initial;
}
.page-btns button {
  border: none;
  color: #fff;
  background-color: #333;
  padding: 0.5rem 2rem 0.5rem 2rem;
  font-size: 1rem;
  margin-right: 0.5rem;
}

/* popup */
.leaflet-popup-content-wrapper, .leaflet-popup-tip {
  background: #383737;
  color: #302f2f;
  width: 230px;
  border-radius: 0;
}
#popup {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #333;
  color: beige;
  padding: 0.5rem;
  font-size: 0.9rem;
  line-height: 1.4rem;
}
.popup-location{
  display: flex;
  font-size: 1.2rem;
  margin-bottom: 0.6rem;
}
.popup-country {
  margin-right: 0.5rem;
}
.confirmed {
  color: #ad4828;
  font-weight: 800;
}
.deaths {
  color:  #942828;
  font-weight: 800;
}
.recovered {
  color: #008211;
  font-weight: 800;
}
.confirmed-btn{
  background: #ad4828 !important;
}
.active-btn{
  background-color: #5c5c39 !important;
}
.recovered-btn{
  background-color: #244624 !important;
}
.deaths-btn{
  background-color: #712424 !important;
}
.active {
  color: #5c5c39;
  font-weight: 800;
}
.background-confirmed {
  background: #ad4828 !important;
  opacity: 0.7;
}
.background-deaths{
  background-color: #712424 !important;
  opacity: 0.7;
}
.background-recovered{
  background-color: #244624 !important;
  opacity: 0.7;
}
.background-active{
  background-color: #5c5c39 !important;
  opacity: 0.7;
}
.marker {
  box-sizing: border-box;
  color: #fff;
  font-weight: bold;
  border-radius: 50%;
}
.marker_booking {
  background: yellowgreen;
}
#timestamp{
  color: #fff;
  z-index: 999;
  font-size: 1.5rem;
  width: 40px;
  float: right;
}
#timestamp-watch-container{
  color: #fff;
  z-index: 999;
  font-size: 1.3rem;
  position: absolute;
  display: grid;
  right: 0;
  bottom: 90px;
  grid-template-columns: 2fr 4fr;
}

/* dashboard */
.dashboard{
  position: relative;
  height: 93vh;
  display: grid;
  grid-template-rows: 1.5fr 8fr 0.28fr;
}
#header-statistics {
  text-align: center;
  border: #717171 1px solid;
}
#type-cases{
  text-align: center;
  font-size: 1.3rem;
  color: #fff;
}
#number-cases{
  text-align: center;
  font-size: 2.7rem;
  font-weight: 600;
  margin-top: 0.5rem;  
}
.btn {
  padding: 0.4rem;
  background-color: #333;
  border: none;
  font-size: 0.8rem;
  color: #fff;
  margin-right: 0.5rem;
}
.cases-btns{
  bottom:0;
  border-top: 5px solid #ad4828;
  margin-top: -8px;
}
.cases
.cases-btns .btn{
 width: 10%;
}
.cases
#cases-btns{
  width: 70%;
}
ul{
  border: #717171 1px solid;
  display: block;
  list-style-type: none;
  margin-bottom: 0.5rem;
  color: #919191;
  font-size: 1rem;
  padding: 0px;
  overflow-y: auto;
  border-bottom: 1px solid #717171;
  text-align: left !important;
}
ul::-webkit-scrollbar {
  width: 12px;
  background-color: #474747;
}
ul::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  border-radius: 10px;
}

ul::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
li {
  border-bottom: #717171 1px solid;
  padding: 0.3rem 0 0.3rem 0.9rem;
 }

/* timeline clock */
.watch_outline {
  background-color: #f0f0f0;
  position: fixed;
  height: 25px;
  width: 25px;
  border: 3px solid #424445;
  border-radius: 50%;
}

.minutes {
  border: 1px solid #424445;
  background-color: #424445;
  border-radius: 50px;
  position: absolute;
  left: 45%;
  top: -10%;
  height: 13px;
  width: 1px;
  transform-origin: 50% 95%;
}
/* timeline container */
#timeline-container{
  width: 100%;
  position: absolute;
  bottom: 0px;
  z-index: 999;
  display: grid;
  grid-template-columns: 25fr 1fr;
  height: 80px;
}
.rect-cursor{
  z-index: 9999;
  position: absolute;
}
.svg-container-timeline{
  background: #333;
  opacity: 0.6;
}
.play-stop-timeline-btn{
  width: 33px;
  height: 33px;
}
#play-stop-btn{
  background: rgb(45, 45, 45);
  border: 0px;
}

@keyframes spinTheClock {
  100% {
    transform: rotate(360deg);
    transform-origin: 50% 90%;
  }
}

.charts-container{
  display: grid;
  width: 70%;
  margin: 0 auto;
  grid-template-rows: 1fr 1fr;
}

 /* first chart page */
 .chart-first-page{
  position: absolute;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 70%;
  top: 10vh;
  height: 50vh;
 }

 .title-left{
   margin: 0 auto;
 }

 .title-left p{
  font-size: 3.3rem;
  color: #ccc;
  text-align: initial;
  font-weight: 700;
  max-width: 300px;;
 }
 .title-right{
   align-self: flex-end;
   margin: 0 auto;
   margin-bottom: -6rem;
 }
 .title-right .text-scroll p {
  font-size: 0.9rem;
 }

 .title-right p {
  font-size: 1rem;
  color: #ccc;
  text-align: initial;
  font-weight: 700;
  text-align: end;
  margin: 5px;
 }
 .chart-first-page svg {
  transition: inherit;
  position: fixed;
  margin-left: -14vw;
  margin-top: -15vh;
 }
 .icon-barchart {
   transform: scale(0.3) rotate(90deg);
 }

.mouse-scroll{
  margin: 0 auto;
  position: relative;
  width: 25px;
  height: 38px;
  box-shadow: inset 0 0 0 2px #fff;
  border-radius: 25px;
  left: -5rem;
  top: -1rem;
}
.mouse-scroll::before{
  position: absolute;
  content: "";
  width: 4px;
  height: 4px;
  background: #fff;
  top: 10px;
  left: 11px;
  border-radius: 50%;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: scroll;
  animation-name: scroll
}
@keyframes scroll{
  0% { opacity:1 }
  to { opacity:0; transform:translateY(25px) }
}

 /* bar chart */
 .barchart-title{
   text-align: end;
   margin: 0 auto;
   font-size: 1.5rem;
   color: #ccc;
   width: 1000px;
   margin-bottom: 1rem;
   font-weight: 600;
   display: none;
 }
 .chart {
  height: 630px;
  width: 100%;
  background-color: #262626;
}
.tick {
  color: #fff;
}
*:focus {
 outline: 0 !important;
}

.svg-container {
  height: 100vh;
  margin-top: 2rem;
}
.chart-timeline{
  width: 95%;
  position: absolute;
  z-index: 9999;
  left: 20px;
  bottom: 20px;
  height: 40px;
}
.chart-timeline:hover{
  cursor: pointer;
}
.axis--x {
  color: #5e5b5b;
}
/* stacked area chart */
.title-stacked-chart{
  margin: 0 auto;
  font-size: 1.5rem;
  color: #ccc;
  margin-bottom: 1rem;
  font-weight: 600;
  text-align: end;
}
.stacked-chart-container{
  height: 85%;
  margin-top: 5rem;
}
.svg-stacked-container {
  height: 75%;
  width: 90%;
  margin: 0 auto;
}

.svg-stacked-container svg{
  display: block;
  width: 85%;
  overflow: visible;
  margin-top: 5rem;
}

div.tooltip {	
  position: absolute;
  text-align: start;
  width: 150px;	
  height: fit-content;	
  padding: 7px;				
  font: 13px sans-serif;		
  background: rgba(79, 79, 79, 0.7);	
  border: 0px;
  border-radius: 8px;			
  pointer-events: none;
  color: #fff;
  font-weight: 600;
  line-height: 1.5;
  z-index: 99999;
}
.tooltip{
  margin-left: -14px;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
}
.icon-barchart {
  transform: scale(0.5) rotate(90deg);
}
@media screen and (max-width: 1735px) {
  .icon-barchart {
    transform: scale(0.5) rotate(90deg);
  }
  .chart-first-page svg {
    margin-left: -16vw;
    /* margin-top: -5vh; */
  }
}
@media screen and (max-width: 1415px) {
  /* dashboard */
  .container{
    grid-template-columns: 5fr 1.5fr;
  }
  /* header */
  #container-header .title{
    font-size: 1.2rem;
  }
  /* chart first page */
  .title-left p {
    max-width: 200px;
    font-size: 2rem;
  }
  .chart-first-page {
    top: 20vh;
  }
  .chart-first-page svg {
    margin-left: -13vw;
    margin-top: -9vh;
  }

  .cases
  #cases-btns{
    margin-top: -4rem;
    width: 80%;
  }
  .cases
  #cases-btns .btn{
    width: 15%;
  }
  .svg-container #cases-btns{
    width: 80% !important;
  }
  .title-right{

    margin-bottom: -3rem;
  }
}
@media screen and (max-width: 1245px) {
  /* dashboard */
  .container{
    grid-template-columns: 5fr 2fr;
  }
  /* header */
  #container-header {
    grid-template-columns: 4fr 2.5fr;
  }
  /* chart first page */
  .chart-first-page svg {
    margin-left: -14vw;
    margin-top: -7vh;
  }
  .cases
  #cases-btns{
    margin-top: -4rem;
    width: 80%;
  }
  .title-right{
    margin-top: -6rem;
  }
}
@media screen and (max-width: 1024px) {
  .chart-first-page svg {
    margin-left: -17vw;
    margin-top: -7vh;
  }
}
@media screen and (max-width: 995px) {
  /* dashboard */
  .container{
    grid-template-columns: 5fr 3fr;
  }
  #number-cases{
    font-size: 1.8rem;
  }
  /* header */
  .page-btns button{
    font-size: 0.85rem;
  }
  #container-header {
    grid-template-columns: 4fr 2fr;
  }
  /* barchart */
  #bar-group{
    font-size: 0.7rem;
  }
  /* chart first page */
  .title-left p {
    max-width: 150px;
    font-size: 1.6rem;
  }
  .cases
  #cases-btns .btn{
    width: 20%;
  }
  .cases
  #cases-btns{
    margin-top: -4rem;
    width: 90%;
    font-size: 0.6rem;
  }
  .svg-container #cases-btns{
    width: 90% !important;
  }
  .chart-first-page svg {
    margin-left: -14vw;
    margin-top: -7vh;
  }
}
@media screen and (max-width: 768px) {
  /* dashboard */
  .container{
    grid-template-columns: 5fr 4fr;
  }
  #number-cases{
    font-size: 1.6rem;
  }
  ul{
    font-size: 0.8rem;
  }
  .page-btns button{
    font-size: 0.75rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
  }
  /* header */
  /* map */
  #timestamp-watch-container{
    font-size:
     1.2rem;
  }
  .svg-container #cases-btns{
    width: unset !important;
  }
  /* chart first page */
  .chart-first-page svg {
    margin-left: -17vw;
    margin-top: -7vh;
  }
  .title-right .text-scroll p {
    font-size: 0.7rem;
  }
  .title-right p {
    font-size: 0.9rem;
  }
  .icon-barchart {
    transform: scale(0.5) rotate(90deg);
  }
  #label-group{
    font-size: 0.9rem;
  }
}
@media screen and (max-width: 650px) {
  /* dashboard */
  .container{
    display: flex;
    flex-direction: column;
  }
  #number-cases{
    font-size: 1.6rem;
  }
  ul{
    font-size: 0.8rem;
  }
  /* header */
  #container-header .title{
    font-size: 0.7rem;
  }
  #container-header {
    grid-template-columns: 5fr 2fr;
  }
  .page-btns button{
    font-size: 0.65rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
  }
  /* first chart */
  .chart-first-page svg {
    margin-left: -20vw;
    margin-top: -5vh;
  }
  .mouse-scroll {
    width: 21px;
    height: 32px;
    left: -5rem;
    top: -1rem;
  }
  .mouse-scroll::before {
    width: 4px;
    height: 4px;
    top: 6px;
    left: 9px;
  }
  .title-right p {
    font-size: 0.7rem;
  }
  /* first chart page */
 .chart-first-page{
  position: absolute;
  display: grid;
  grid-template-rows: 1fr;
  }
  
}
@media screen and (max-width: 550px) {
  /* chart first page */
  .chart-first-page svg {
    margin-left: -23vw;
    margin-top: -4vh;
  }
  
  .map-container:nth-child(1) { order: 2; }
  .dashboard:nth-child(2) { order: 1; }

  .dashboard{
    margin-top: 1rem;
  }
}
@media screen and (max-width: 510px) {
  /* chart first page */
  .mouse-scroll {
    top: -2.5rem;
  }
  .page-btns button {
    font-size: 0.5rem;
  }
}

@media screen and (max-width: 510px) {
  /* chart first page */
  .chart-first-page svg {
    margin-left: -31vw;
    margin-top: -4vh;
  }
}
@media screen and (max-width: 410px) {
  .page-btns button {
    font-size: .4rem;
  }
  #container-header .title {
    font-size: 0.6rem;
  }
  .svg-container #cases-btns {
    margin-top: -13rem !important;
  }
  #label-group{
    font-size: 0.7rem;
  }
  .chart{
    margin-top: 2rem;
  }
}
@media screen and (max-width: 367px) {
  .page-btns button {
    font-size: .34rem;
  }
}
